
$theme-colors: (
  "primary": #d95700
);
.card-container{
    margin-top: 10px;
    
}
.image-wrapper{
    margin-top: 50px;
    margin-bottom: 10px;
}
.image-hover:hover{
    transform: scale(1.25);
    opacity: 0.5;    
}
.image-style{
    width: 100%;
}
.image-hover{
    
    transform:scale(1);
    transition: 0.3s ease; 
}
nav.navbar{
    padding-top:0;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 120px;
    margin-left: 120px;
}

h1,
.navbar-brand,
.navbar-nav a {
  font-family: "Raleway", sans-serif;
  color:white;
  font-size:12px;
}
.jumbotron {
    background-image: url("../css/restaurante-cluj.jpg");
    color:white;
    font-family: "Raleway", sans-serif;
    margin-bottom:20;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 90px !important;
}

.jumbotron{
    .container{
        h1{
            text-align: center;
        }
        p{
            margin-top: 20px;
            text-align: center;
        }
    }
  }
  br {
    margin: 0 0;
 }


 
  
  
@import "node_modules/bootstrap/scss/bootstrap";

