
$theme-colors: (
  "primary": #fe8301
);
$primary-color:#fe8301;

$body-bg: white;
$secondary-color:#f2f2f2;


.image-wrapper{
    margin-top: 50px;
    margin-bottom: 10px;
}
.image-hover:hover{
    transform: scale(1.25);
    opacity: 0.5;    
}
.image-style{
    width: 100%;
}
.image-hover{
    
    transform:scale(1);
    transition: 0.3s ease; 
}
nav.navbar{
    padding-top:0;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 120px;
    margin-left: 120px;

}
.navbar-custom {
    .navbar-brand{
        font-size: 12px;
    }
}


h1,
.navbar-brand,
.navbar-nav a {
  font-family: "Raleway", sans-serif;
  color:white;
  font-size:12px;
  margin-right: 10px;
  margin-left:10px; 
  font-weight: 900 ;
  
  
}
#jumbotron-costum {
    background-image: url("../css/restaurante-cluj.jpg");
    color:white;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0px ;
    
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}


.jumbotron{
    
        h1{
            text-align: center;
            padding-top:60px;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            text-align: center;
            font-weight: 700px;
            margin-top: 50px;

        }

  }

  .navbar-default{
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled{
    background-color: $secondary-color;
    margin: 0 0 0 0;
    padding-top:10px;  
    border: 2px solid $secondary-color;
    border-radius: 10px;
}
.navbar-default.scrolled{
    h1, .navbar-brand, .navbar-nav a{
        color: black;
    }
}
@media (min-width: 768px) { 
    .bullet > li {
        position: relative
    }
    .bullet > li:before,
    .bullet > li::after {
        content: "";
        position: absolute;
        width: 3px;
        height:3px;
        background:#fe8301;
        top: 50%;
        margin-top: -2px;
        right: -3px;
        z-index: 1;
        border-radius: 6px;
    } 
      
}
@media (min-width: 768px) { 
    
    .bullet > li:before,
    .bullet > li:last-of-type:after {
        content: none;
        
    } 
      
}
.bar-wrapper{
    background-color: $secondary-color;
    margin: 0 0 0 0;
    color:black ;
    display: block;
}
.nav-div{
    display: block;
    margin-right: 0px;
}
.bar-wrapper{
    .container{
        ul li{
            a{
                color:black;
                padding-top:10px;  
            }
        }
    }
}
nav.bar-wrapper{

        margin:0 0 0 0;
        padding-top: 10px; 
    
  
}
.navbar select{
    color:red;
}
.navbar .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid $primary-color; 
    position: absolute;
    top: -6px;
    left: 10px;
  }

  .nav-item a::after{
    color: $primary-color;
    border: solid $primary-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 4px;
    
  }
  



.item{
    font-size: 16px;
    font-weight: bolder;
    text-align: center;
    margin-top:15px;
}
.category{
    font-size: 14px;
    text-align: center;
    color:gray;
}
.price{
    color: $primary-color;
    font-weight: bold;
    text-align: center;
}
.menu-image{
   img{
    border-radius: 50%;
    width:200px;
    height: 200px;
    margin-bottom: 20px;
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

   } 
}
#wrapper{
    margin-right: 150px;
    margin-left:150px;
    margin-top:50px;
    font-family: "Raleway", sans-serif;
    margin-bottom: 1000px;
    
}
.row{
    .col-3:not(:nth-of-type(4n+0)){
        border-right: solid;
        border-width: 3px;
        border-color: $secondary-color;
    }
    .col-3{

        border-bottom: solid;
        border-width: 3px;
        border-color: $secondary-color;
        padding-bottom: 20px; 
    }
    
   
}



@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: $primary-color;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: $primary-color!important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
  
  
@import "node_modules/bootstrap/scss/bootstrap";

