
$theme-colors: (
  "primary": #fe8301
);

    $body-bg: #f2f2f2;

.card-container{
    margin-top: 10px;
  
}
.image-wrapper{
    margin-top: 50px;
    margin-bottom: 10px;
}
.image-hover:hover{
    transform: scale(1.25);
    opacity: 0.5;    
}
.image-style{
    width: 100%;
}
.image-hover{
    
    transform:scale(1);
    transition: 0.3s ease; 
}
nav.navbar{
    padding-top:0;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 120px;
    margin-left: 120px;

}
.navbar-brand{
    font-size: 12px !important;
}

h1,
.navbar-brand,
.navbar-nav a {
  font-family: "Raleway", sans-serif;
  color:white;
  font-size:12px;
  margin-right: 10px;
  margin-left:10px; 
  font-weight: 900 ;
  
  
}
.jumbotron {
    background-image: url("../css/restaurante-cluj.jpg");
    color:white;
    font-family: "Raleway", sans-serif;
    margin-bottom:20;
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
   
}

.jumbotron{
    .container{
        h1{
            text-align: center;
            padding-top:60px;
            font-weight: bolder;
        }
        p{
            margin-top: 20px;
            text-align: center;
            font-weight: 700px;
            margin-top: 50px;

        }
    }
  }

  .navbar-default{
    transition:500ms ease;
    background:transparent;
}
.navbar-default.scrolled{
    background-color: #fff;
    margin: 0 0 0 0;
    padding-top:10px;  
}
.navbar-default.scrolled{
    h1, .navbar-brand, .navbar-nav a{
        color: black;
    }
}
@media (min-width: 768px) { 
    .navbar-nav > li {
        position: relative
    }
    .navbar-nav > li:before,
    .navbar-nav > li::after {
        content: "";
        position: absolute;
        width: 3px;
        height:3px;
        background:#fe8301;
        top: 50%;
        margin-top: -2px;
        right: -3px;
        z-index: 1;
        border-radius: 6px;
    } 
      
}
@media (min-width: 768px) { 
    
    .navbar-nav > li:before,
    .navbar-nav > li:last-of-type:after {
        content: none;
        
    } 
      
}





 
  
  
@import "node_modules/bootstrap/scss/bootstrap";

